Config.json
CMakeFiles/
.cproject
.project
build/
output/
cmake-build-*/
CMakeCache.txt
uninstall.cmake
cmake_install.cmake
Makefile
WPEFramework*Config.cmake
WPEFramework*ConfigVersion.cmake
*.pc
*.so.*
*.so
/cppcheck_report.txt
/cppcheck_log.txt
