set (autostart ${PLUGIN_DOOFAH_AUTOSTART})

map()
  if(NOT ${PLUGIN_DOOFAH_CONNECTOR_CONFIG} STREQUAL "")
  kv(connector ${PLUGIN_DOOFAH_CONNECTOR_CONFIG})
  endif()
  
  if(NOT ${PLUGIN_DOOFAH_DEVICE_ADDRESS} STREQUAL "")
  kv(device ${PLUGIN_DOOFAH_DEVICE_ADDRESS})
  endif()

  if(NOT ${PLUGIN_DOOFAH_PERIPHERAL} STREQUAL "")
  kv(peripheral ${PLUGIN_DOOFAH_PERIPHERAL})
  endif()
end()
ans(configuration)
